# Ignore VS Code server files
.vscode-server/

# Ignore .NET Core cryptography directories
.dotnet/

# Ignore .NET Core cryptography directories
.devcontainer/.onCreateCommandMarker
.devcontainer/.postCreateCommandMarker
.devcontainer/.updateContentCommandMarker